{
  description = "{{ product_name_display }} pipeline development environment";

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-26.05";
  };

  outputs = { self, nixpkgs, }:
    let
      allSystems = [
        "x86_64-linux"
        "aarch64-linux"
        "aarch64-darwin"
      ];

      forAllSystems = f: nixpkgs.lib.genAttrs allSystems (system: f {
        pkgs = import nixpkgs { inherit system; };
      });
    in
    {
      devShells = forAllSystems ({ pkgs }: {
        default = pkgs.mkShell {
          packages = (with pkgs; [
            just
            python{{ python_version.split('.')[:2] | join('') }}
            uv
            git-secrets
            pre-commit
          ]);
          shellHook = ''
            unset PYTHONPATH
            mkdir -p "$PWD/.direnv/cache"
            export XDG_CACHE_HOME="$PWD/.direnv/cache"
            export UV_PROJECT_ENVIRONMENT=".venv"
            export UV_PYTHON_DOWNLOADS="never"

            if [ -f .env ]; then
              set -a
              source .env
              set +a
            fi

            echo "🔄 {{ product_name_display }} pipeline env active — run 'just' for commands."
          '';
          NIX_SHELL = "1";
        };
      });
    };
}
